*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 15px 15px;
    
    background-color: hsl(65, 91%, 84%);
    background-repeat: no-repeat;
}

.main{
    padding-top: 5px;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

/* ik vergeet altijd de -px- bij :)) */
.section-1{
    padding:10px 20px;
    margin-top: 20px 10px;
    border: 1px solid red;
}

.section-1 h1{
    text-align: center;
}
div p{
    display: inline-block;
    padding: 5px;
}